html,body{
  font-size: 8px;
  margin:0;
  padding:0;
}

/*Header*/
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:8rem;
  padding-right: 3rem;
  padding-left:3rem;
  max-width:100%;
  font-size: 2rem;
  background-color:#B7AA9B;
}
.mobile-header{
  display: none;
}
/*font and font-size for the main headers*/
.main-header{
  font-family: 'Anton', sans-serif;
  font-size:5rem;
}
header .Ubuntu{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
header .workSans{
  font-family: 'Work Sans',sans-serif;
  color:#794740;
}
/*Logo*/
.logo{
  display:flex;
  font-size: 4rem;
  align-self: center;
}
/*Sign-in*/
 .desktop-nav{
  display: flex;
  justify-content: space-between;
  font-family: 'Hind', sans-serif;
  font-weight: bold;

}
.desktop-nav .spacing li{
  margin-right:2rem;
}
.desktop-nav li{
  height:100%;
  display: flex;
  align-items: center;
}
.desktop-nav li:hover{
  background-color:#8F7A62;
}
@media only screen and (max-width:480px){
header{
  height: 6rem;
  padding: 0 3rem;
  max-width: 100%;
}
  .logo, .desktop-nav{
    display: none;
  }
  nav, .mobile-header{
    display: contents;
    display:flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobile-header li{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-header li:hover{
    background-color: #8F7A62;
  }
}
/*Banner*/
.banner{
  display:flex;
  align-items: center;
  background-color: #7AA1AC;
  max-width: 100%;
}
.banner .image-container{
  width: 60%;
  margin: 4rem 3rem;
  box-shadow: 1rem 1rem 1rem #4E676E;
}
.banner .image-container img {
  max-width: 100%;
}
.banner .content-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width:30%;
margin-bottom: 4rem;
color:#2D6372;
}

.banner .content-container h3{
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'Hind', sans-serif;
}
/*Start button*/
a.start{
text-decoration: none;
position:relative;
display:block;
color: white;
background-color: #063B4A;
font-size: 3rem;
height:15%;
width:100%;
overflow: hidden;
font-family: 'Ubuntu', sans-serif;
border-radius: 0.625rem;
}
.start span ,.start .icon{
position: absolute;
display:block;
height:100%;
width: 100%;
text-align: center;
text-decoration: none;

}
.start span{
  width:72%;
  left:0;
  line-height:inherit;
  font-size:3rem;
  display:block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start .icon{
  right:0;
   width:28%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.start .icon .fa{
  font-size:3rem;
  width:3rem;
  vertical-align: middle;
}
.icon{
  width:25rem;
  background-color: #346B7B;
}
.start:hover .icon{
  width:100%;
}
.start span,.start .icon,.start i{
  transition:all 1.2s ease-out 0.2s;
}
.start:hover span{
  left:-72%;
}
.start:hover .icon .fa{
  font-size:6rem;
}
@media only screen and (max-width:480px){
  .banner{
    max-width: 100%;
    display:flex;
    flex-direction: column;
  }
  .banner .image-container{
    margin: 0;
    width: 100%;
  }
  .banner .content-container{
    width:100%;
  }
  .banner .content-container h1{
    line-height: 1.5;
  }
  .banner .content-container h1,.banner .content-container h3{
    margin-top:4rem;
    margin-left:2rem;
  }
   .banner .content-container h3{
     margin-bottom: 3rem;
   }
  .start{
    width: 90%;
  }
}
/*News section*/
.news-container,.thesisContent-container{
  flex-direction: row;
  justify-content: center;
  max-width:100%;
  display: inline-flex;
}
.news-container{
  background-color: #794740;

}
.article,.video-container{
  display:flex;
  flex-direction: column;
  font-size: 2rem;
  max-width: 60%;
  margin:4rem 3rem;
}

.article .image-container,.article .image-container img,.video-container video{
  max-width: 100%;
}
.image-container{
  box-shadow: 1.5rem 1.5rem 1.5rem #37211E;
}
.article-content{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color:#CE9790;
}
.article-content h1{
  margin-top:4rem;
  margin-bottom:4rem;
}
.article-content h3{
  margin-bottom:4rem;
  font-family: 'Hind', sans-serif;
}
.column-container{
  max-width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #AE9477;
  padding-top: 2rem;
  border-left:0.125rem solid #8F7A62;
}
.thumbnail{
  max-width: 100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:2rem;
}
 .thumbnail.orientation{
  border-bottom: .5rem solid #8F7A62;
}
.thumbnail .description{
  width: 65%;
  font-size: 2rem;
  margin-left:1rem;
  font-family: 'Work Sans',sans-serif;
}
.thumbnail .description h3{
  font-weight: 700;
}
.thumbnail-shade{
  background-color: #8F7A62;
  color:#F5E4D7;
}
.description .spacing{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.image-box{
display: inline-block;
width: 35%;
height:auto;
box-shadow: 1rem 1rem 1rem #4E4336;
}
.desktop-image{
  max-width: 100%;
}
.mobileImage-box{
  display:none;
}
@media only screen and (max-width:480px){
  .article{
    display: none;
  }
  .news-container .column-container{
    max-width: 100%;
  }
  .thumbnail{
    flex-direction: column;
    padding-bottom: 0;
  }
  .thumbnail.orientation{
    border-bottom: none;
    padding-top:2rem;
    padding-left:2rem;
    padding-right:2rem;
  }
 .image-box{
   display:none;
  }
  .desktop-image{
    display:none;
  }
.mobileImage-box{
  display:contents;
  height:35%;
  max-width: 90%;

 }
 .mobile-image{
   max-width: 100%;
   margin-bottom:2rem;
   box-shadow: 1.5rem 1.5rem 1.5rem #37211E;
 }
.thumbnail .description{
  width: 100%;
  margin-bottom: 8rem;
}
.thumbnail-shade{
  background-color: #8F7A62;
}
}
/*Cources section and some of the thesis section that has the same code*/
.courses-container{
  max-width:100%;
  display:flex;
  flex-wrap: wrap;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #819E7F;
}
.courses-container h1,.thesis-container h1{
  text-align: center;
  display: block;
  padding-top:4rem;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.courses-container h1{
  color:426740;
}
.courseimage-container{
  height:auto;
  max-width:100%;
}
.classes-container{
  display:inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}
.class-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
  max-width: 100%;

}
.class-title,.mobile-class{
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  font-size: 2.5rem;
}
.course-header{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size:2rem;
  font-weight: bold;
  font-family: 'Work Sans',sans-serif;
}
.courses{
  font-family: 'Work Sans',sans-serif;
  font-weight: lighter;
  font-size: 1.8rem;
}
.class{
  display:flex;
  display: block;
  flex-direction: column;
  margin-right:4rem;
  margin-bottom:3rem;
  width: 40rem;
  background-color: #F5E4D7;
  box-shadow: 1.5rem 2rem 1.5rem #3B483A;
}
.class img{
  width: 100%;
}
.mobileClass-container{
  display:none;
}
@media only screen and (max-width:480px){
.courses-container{
  padding-left:0;
  padding-right:0;
}
.courses-container h2{
  margin-bottom: 2rem;
}
  .classes-container{
    display:none;
  }
  .mobileClass-container{
    display:flex;
    flex-direction: column;
    width:100%;
  }
  .mobile-class{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mobileClass-container h2{
    display:block;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    font-size:2rem;
    padding:2rem 0rem 3rem 2rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    max-width: 100%;
    margin-top:0;
    background-color: #F5E4D7;
    box-shadow: 1.5rem 1rem 1rem #3B483A;
  }
}
/*Thesis*/
.thesis-container{
  background-color: #7AA1AC;
}
.thesis-container h1,.videoContent-Container{
  color:#063B4A;
}
.thesisContent-container .column-container{
  padding-top: 0;
  border-left: none;
  background-color: #AE9477;
}
.thesisContent-container .video-container{
margin: 0 3rem;
}
.video-container .videoContent-Container{
  margin-top:3rem;
  margin-bottom:3rem;
  display: flex;
  flex-direction: column;
  align-items: : flex-start;
  font-family: 'Hind', sans-serif;
}
.videoContent-Container h3{
  margin-bottom:1rem;
  font-weight:bold;
}
video{
  box-shadow: 1.4rem 1.4rem 1.4rem #4E676E;
}
@media only screen and (max-width:480px){
  .thesis-container h2{
    margin-bottom:2rem;
  }
  .thesisContent-container .column-container,.video-container .videoContent-Container{
    display: none;
  }
  .thesisContent-container .video-container {
    margin: 0rem 0rem;
    max-width:100%;
    margin-bottom: 3rem;
  }
}
/*footer*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left:3rem;
  padding-top:2rem;
  padding-bottom:4rem;
  max-width: 100%;
  border-top: 0.125rem solid #A3927E;
  background-color:#B7AA9B;
}
.copyright,.terms{
  font-size:1.5rem;
}
@media only screen and (max-width:480px){
  footer{
    border-top: none;
  }
  .terms{
    display: none;
    }
    .coyright{
      margin-top:2rem;
      margin-bottom:2rem;
    }
  }
}
